.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.icon {
  margin: -15%;
}

.current {
  font-size: 4rem;
  font-weight: 700;
}

.degree {
  color: #2D78C9;
}
