.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}

.icon {
  margin: -40px;
}

.current {
  font-size: 4rem;
  font-weight: 700;
}

.degree {
  color: #EB6E4B;
}

.otherInfo {
  display: flex;
  gap: 1.5rem;
  margin-top: 1rem;
}

.otherInfo div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.otherInfo small {
  color: #c1c1c1
}
